<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"> 🛒 TiendaLibre</a>
        {% if request.resolver_match.url_name == 'detalle_producto' %}
            <a class="navbar-brand" href="/catalogo/">⬅</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContenido">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContenido">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class= "nav-item">
                    <a class="nav-link" href="/acerca-de-mi">Acerca de mi</a>                  
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catalogo/">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
